@font-face {
  font-family: "IowanOldStyleRoman";
  font-style: normal;
  font-weight: normal;
  src: url("/src/fonts/IowanOldStyleBT-Roman.otf") format("opentype");
}

.App {
  text-align: center;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
  background-color: #FFFBE8;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: row;
}

.label {
  display: flex;
  flex-direction: column;
}

.input-box {
  min-width: 600px;
  border: 1.5px solid black;
}

.box {
  width: calc(100%/2 - 10px);
  height: 200px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 0.5px solid black;
  max-width: 500px;
  min-width: 300px;
}

.submit-button {
  position: absolute;
  bottom: 10px;
  right: 5px;
  background-color: #03EB97;
  text-transform: lowercase;
}

.form {
  position: relative;
}

.title {
  font-family: "IowanOldStyleRoman";
}

.subtitle {
  font-family: "IowanOldStyleRoman";
}
